@use '../../styles/variables';
@use '../../styles/mixins';

.tag-container {
    background-color: variables.$primary-color;
    min-width: 115px;
    min-height: 25px;
    flex-direction: row;
    border-radius: 10px;
    padding: 0 10px;
    @include mixins.flex-center;

    p {
        color: white;
        font-size: 14px;
        margin: 0;
    }
}