.host {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        margin-right: 10px;
        color: rgba(255, 96, 96, 1);
        font-size: 18px;

        @media (max-width: 768px) {
            font-size: 12px;
        }
    }

    .location-image {
        width: 64px;
        height: 64px;
        border-radius: 100px;
        overflow: hidden;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}