
@use '../../../src/styles/mixins';

.propos-page {
    width: 100%;

    .collapse-container {
      width: 100%;
      margin-top: 20px;
      @include mixins.flex-center;

      .collapse-list-propos {
        width: 70%;
        flex-direction: column;
        @include mixins.flex-center;
      }
  }
}

