@use '../../../styles/mixins';

.footer {
    background-color: black;
    width: 100%;
    height: 210px;
    flex-direction: column;
    @include mixins.flex-center;
}

h2 {
    color: #ffffff;
    text-align: center;
}