@use '../../styles/variables';
@use '../../styles/mixins';

.error-page {
    color: variables.$primary-color;
    height: 100%;
    width: 100%;
    flex-direction: column;
    @include mixins.flex-center;

    .error-title {
        font-size: 288px;
        font-weight: 700;

        @media (max-width: 768px) {
            font-size: 96px; 
         }
    }

    .error-description {
        font-size: 36px;
        color: variables.$primary-color;
        font-weight: 500;

        @media (max-width: 768px) {
           font-size: 18px; 
           text-align: center;
           padding: 20px;
        }
    }

    .error-link {
        color: black;
        text-decoration: underline;
        font-size: 19px;
        padding: 40px;

        @media (max-width: 768px) {
            font-size: 14px; 
         }
    }
}